@import "vars";
@import "libs";
@import "fonts";

//--STYLING--
* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: $text_color;
    outline: none;
}

body {
    width: 100%;
    font-size: 18px;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    margin: 0 auto;
    color: $text_color;
}

.slick-dots {
    list-style: none;
    padding-left: 0;
    text-align: center;

    li {
        margin: 0 0 0 .5em;
        display: inline-block;
        list-style: none;

        &:first-child {
            margin-left: 0;
        }

        button {
            transition: all 0.3s linear;
            outline: none;
            border: none;
            font-size: 0;
            padding: 7px 7px;
            border-radius: 50%;
            cursor: pointer;
            background-color: rgba(0, 0, 0, 0.2);
        }

        button:hover {
            background-color: $span_color;
        }

    }
}

.slick-dots .slick-active button {
    transition: all 0.3s linear;
    background-color: $span_color;
}

.container {
    max-width: 1920px;
    padding: 0 30px;
    margin: 0 auto;
}

.mobile_menu {
    display: none;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    &__logo {
        width: 120px;

        a {
            display: flex;
            align-items: center;
        }

        img {
            width: 90px;
        }
    }

    &__nav {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 0 60px;

        .nav__link {
            margin: 0 15px;
            letter-spacing: 1px;
            color: $text_color;
            position: relative;
            text-align: center;
            margin-top: 4px;
            cursor: pointer;

            &:after {
                backface-visibility: hidden;
                border: 1px solid rgba(0, 0, 0, 0);
                bottom: 0px;
                content: " ";
                display: block;
                margin: 0 auto;
                position: relative;
                transition: all 280ms ease-in-out;
                width: 0;
                margin-top: 3px;
            }

            &:hover:after {
                backface-visibility: hidden;
                border-color: $span_color;
                transition: width 300ms ease-in-out;
                width: 100%;
            }

            span {
                position: relative;
            }

            span::after {
                content: " ˅";
            }

            &-dropdown {
                display: flex;
                flex-direction: column;
                text-align: center;
                position: absolute;
                padding-top: 12px;
                margin-top: 5px;
                font-size: 14px;
                width: 100%;
                z-index: 2;
                background-color: #fff;
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;
                border-bottom: 2px solid $span_color;
                padding-bottom: 15px;
                height: 0;
                opacity: 0;
                visibility: hidden;
                transition: all 0.2s linear;

                a {
                    letter-spacing: 1px;
                    color: $text_color;
                    position: relative;
                    text-align: center;
                    margin-top: 7px;


                    &:after {
                        backface-visibility: hidden;
                        border: 1px solid rgba(0, 0, 0, 0);
                        bottom: 0px;
                        content: " ";
                        display: block;
                        margin: 0 auto;
                        position: relative;
                        transition: all 280ms ease-in-out;
                        width: 0;
                        margin-top: 3px;
                    }

                    &:hover:after {
                        backface-visibility: hidden;
                        border-color: $span_color;
                        transition: width 300ms ease-in-out;
                        width: 50%;
                    }
                }
            }

        }

        .drop:hover {
            .nav__link-dropdown {
                height: auto;
                opacity: 1;
                visibility: visible;
            }
        }
    }

    &__social {
        display: flex;
        align-items: center;

        img {
            width: 22px;
            height: 22px;
            margin: 0 5px;

            &:hover {
                animation: bounce 0.7s ease-in-out infinite;

            }
        }
    }
}

.header__slider {
    &-title {
        font-size: 40px;
        color: $span_color;
        display: block;
        background: #ffffff;
        padding-left: 15px;
        padding-top: 5px;
        padding-bottom: 5px;
        border-radius: 10px;

        span {
            font-weight: 900;
            color: #ffffff;
            background: $span_color;
            padding: 5px 15px;
            border-radius: 10px;
            margin-left: 10px;
        }
    }

    &-item {
        height: 500px;
        background-position: center center;
        background-size: cover;
        cursor: grab;

        &__container {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

.woman-products {
    &__title {
        margin-top: 80px;
        font-size: 32px;
        font-weight: 700;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        padding: 0 50px;

        span::after {
            content: "";
            display: block;
            width: 100px;
            height: 4px;
            background-color: $span_color;
            margin-top: 15px;
            border-radius: 30%;
            margin-left: 50%;
            transform: translateX(-50%);
        }

        a {
            font-size: 14px;
        }
    }

    &__container {
        margin: 0 auto;
        padding-top: 40px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        flex-wrap: wrap;
    }

    &__item {
        width: 300px;
        height: 400px;
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
        overflow: hidden;
        position: relative;
        border-radius: 5px;
        box-shadow: -2px -2px 5px rgba(0, 0, 0, 0.02), 2px 2px 5px rgba(0, 0, 0, 0.2);
        transition: all 0.3s linear;
        cursor: pointer;

        &-title {
            line-height: 22px;
            margin-top: 15px;
        }

        &-container {
            max-width: 300px;
            margin: 20px 15px;
        }

        &-hover {
            background-color: rgba(255, 255, 255, 0.85);
            padding: 15px 20px;
            position: absolute;
            bottom: 0;
            visibility: hidden;
            opacity: 0;
            transition: all 0.3s linear;

            &__title {
                color: $span_color;
                letter-spacing: 1px;
            }

            &__text {
                font-size: 14px;
                margin-top: 15px;
                line-height: 18px;
            }
        }

        &:hover &-hover {
            visibility: visible;
            opacity: 1;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

        }

        &:hover {
            transition: all 0.3s linear;
            box-shadow: -5px -5px 15px rgba(0, 0, 0, 0.05), 5px 5px 15px rgba(0, 0, 0, 0.2);
            background-size: 105%;
        }
    }
}

.products {
    &__title {
        margin-top: 80px;
        font-size: 32px;
        font-weight: 700;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding: 0 50px;

        span::after {
            content: "";
            display: block;
            width: 100px;
            height: 4px;
            background-color: $span_color;
            margin-top: 5px;
            border-radius: 30%;
        }

        a {
            font-size: 14px;
        }
    }

    &__container {
        margin: 0 auto;
        padding-top: 40px;
        text-align: center;
    }

    &__item {
        width: 300px;
        height: 400px;
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
        overflow: hidden;
        position: relative;
        border-radius: 5px;
        box-shadow: -2px -2px 5px rgba(0, 0, 0, 0.02), 2px 2px 5px rgba(0, 0, 0, 0.2);

        transition: all 0.3s linear;
        cursor: pointer;

        &-title {
            line-height: 22px;
            margin-top: 15px;
        }

        &-container {
            max-width: 300px;
            margin: 20px 0;
        }

        &-hover {
            background-color: rgba(255, 255, 255, 0.85);
            padding: 15px 20px;
            position: absolute;
            bottom: 0;
            visibility: hidden;
            opacity: 0;
            transition: all 0.3s linear;

            &__title {
                color: $span_color;
                letter-spacing: 1px;
            }

            &__text {
                font-size: 14px;
                margin-top: 15px;
                line-height: 18px;
            }
        }

        &:hover &-hover {
            visibility: visible;
            opacity: 1;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

        }

        &:hover {
            transition: all 0.3s linear;
            box-shadow: -5px -5px 15px rgba(0, 0, 0, 0.05), 5px 5px 15px rgba(0, 0, 0, 0.2);
            background-size: 105%;
        }
    }
}

.footer {
    margin-top: 60px;
    height: 300px;
    width: 100%;
    background-color: $text_color;
}

@keyframes bounce {
    0% {
        transform: translatey(0px)
    }

    50% {
        transform: translatey(-5px)
    }

    100% {
        transform: translatey(0px)
    }
}

@import "media";